<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TingenNYQVIST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <TingenNYQVIST.Properties.Settings>
            <setting name="TingenNYQVIST_NtstWsvcSboxQuery_Query" serializeAs="String">
                <value>https://spectrumcsp.netsmartcloud.com/csp/spectrumsbox/avpm/WEBSVC.Query.cls</value>
            </setting>
            <setting name="TingenNYQVIST_NtstWsvcUatQuery_Query" serializeAs="String">
                <value>https://spectrumcsp.netsmartcloud.com:443/csp/spectrumuat/avpm/WEBSVC.Query.cls</value>
            </setting>
            <setting name="TingenNYQVIST_NtstWsvcLiveQuery_Query" serializeAs="String">
                <value>https://spectrumcsp.netsmartcloud.com/csp/spectrum/avpm/WEBSVC.Query.cls</value>
            </setting>
        </TingenNYQVIST.Properties.Settings>
    </applicationSettings>
</configuration>